/* add css for index.html */
.box {
    border: solid 3px black;
}

section {
    display: flex;
    flex-direction: row;
}

section div {
    display: flex;
    flex-direction: column;
}

img {
    align-self: center;
}

span {
    text-align: center;
}

button {
    width: fit-content;
    align-self: center;
}

.avatar-display {
    width: 90px;
    margin-left: 20px;
}

.player-avatar {
    width: 80px;
}

.results-avatar {
    width: 60px;
}

#win-loss-draw {
    width: 50px;
}

#begin {
    margin: 10px;
}

.throw-select {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 150px;
    width: 400px;
}

.results-grid {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 150px;
    width: 400px;
}

.results-grid-rows {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 150px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.rps-button {
    width: 50px;
    height: 34px;
    padding: 0;
    border: none;
    background: none;
}

.rps-button:hover {
    background-color: #b5b6e4;
}

.rps-image {
    width: 25px;
}

.cpu-image {
    width: 120px;
}

.cpu-results-avatar {
    width: 50px;
}

.centered {
    justify-content: center;
    align-items: center;
}

.result-throws {
    width: 60px;
}

.hidden {
    display: none;
}